body {
    margin: 0;
    font-size: 18px;
}


h1 {
    text-align: center;
    font-size: 30px;
}
a {
    color: #101010;
    text-decoration: none;
}
.maps {
    background: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.maps-search {
    margin-left: 17px;
}

.maps-search input {
    width: 109px;
    border: none;
    background-color: #EAEAEA;
}
 
.reservation {
    background: #f6f6f6;
    margin-top: -22px;
    height: 287.5px;
}
   
.reservation h2 {
    text-align: center;
}
   
.reservation p {
    text-align: center;
}

.btn-reservation button {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    cursor: pointer;
    width: 218px;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid transparent; 
    margin-top: 40px; 
    margin-bottom: 40px;
}

.btn-reservation {
    display: flex;
    justify-content: center;
}
  
.btn-reservation button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    background-blend-mode: lighten;
}
.operation p {
   margin-right: 30%;
} 
.operation h2 {
    margin-left: 20px;
    font-size: 24px;
    line-height: 28px;
}

.operation-steps {
    list-style: none;
    margin-right: 20px;
    margin-left: -32.51px;
}
  
.operation-steps li {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 72.38px;
   border-radius: 20px;
   box-shadow: 0px 4px 15px 0px #00000026;
   background: #F6F6F6;
   margin: 15px 20px 15px 30px;
}
  

  
.operation-steps li:hover {
    background: #f6f6f6;
}
  
.operation-steps li:hover .fas {
    color: #9356DC;
}
  
.operation-steps--number {
   background-color: #9356dc;
   color: #ffffff;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14.1818px;
   line-height: 17px;
   border-radius: 100%;
   margin-left: -8px;
   width: 15.27px;
   display: flex;
   justify-content: center;
   align-items: center;
}
  
.operation-steps--icon {
   color: #7e7e7e;
   font-size: 1.2rem;
   margin-left: -24px;
}


.restaurant {
background-color: #f6f6f6;
}
.restaurant h3 {
    margin-left: 20px;
    font-size: 24px;
    margin-top: 68px;
}
@media screen and (min-width: 991px) {
    .restaurant h3 {
      margin-left: 180px;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 66px;
    gap: 18px;
    margin-right: 15px;
    margin-left: 14px;
}

@media screen and (min-width: 991px) {
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 30px;
      grid-column-gap: 95px;
      margin-top: 86px;
      gap: 50px;
      margin-left: 175px;
      margin-right: 175px;
    }
}
.card img {
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    max-height: 231px;
    filter: saturate(1.2);
    transition: .6s;
}
.new {
    color: #008766;
    background: #99E2D0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    position: absolute;
    border: 5px solid #99E2D0;
    width: 80px;
    height: 29px;
    right: 30px;
    margin-top: 13px;
    text-align: center;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h4 {
    font-size: 18px;
    margin-left: 18.74px;
}
 .card p {
    margin: -10px;
    margin-left: 18.74px;
}
 .fill-heart {
    color: black;
    cursor: pointer;
    margin-right: 33px;
}
.fill:hover {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.card {
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: 50px;
    height: 350px;
}
.card:hover {
    transform: scale(1.05);
}
.cards:hover> .card img:not(:hover) {
   filter: brightness(.3);
}

footer h3 {
    padding: 25px;
    margin-left: 25px;
    color: #ffffff;
}
  
footer a {
    color: white;
}
  
footer  {
    background-color: #353535;
    color: white;
    margin-top: -20px;
}

footer ul {
    list-style: none;
    margin-bottom: 0;
}
  
.menu-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    
.arrow {
    position: absolute;
    left: 23px;
}
    
.header-img img {
    object-fit: cover;
    width: 100%;
    height: 275px;
}

.menu-main {
    
}

.main-menu {
    background-color: #f6f6f6;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -30px;
}
      
.menu-title {
    font-family: Shrikhand, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 51px;
}

.starter-title, .dish-title, .dessert-title {
    margin-left: 13px;
    
}
.starter:hover {
    transform: scale(.9);
}
.dish:hover {
    transform: scale(.8);
}
.dessert:hover {
    transform: scale(.7);
}
.line {
    width: 40px;
    border: 2px solid #99E2D0;
}

.meals {
    background-color: #FFFFFF;
    border-radius: 15.04px;
    cursor: pointer;
    box-shadow: 0px 4px 15px 0px #0000001A;
    
    height: 69px;
    transition: padding-right 450ms ease-in-out;
    margin-left: 13px;
    margin-right: 13px;
}
 
.meals h4 {
    margin-left: 5px;
    padding: 12px;
}
     
.last-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
      
.last-line p {
    margin-top: -50px;
    margin-left: 15px;
    margin-bottom: 0;
    font-size: 15px;
}
      
.last-line span {
    margin-right: 20px;
    margin-top: -50px;
}
    
.meals:hover {
    padding-right: 75px;
    transition: .3s;
    transform: scale(1.02);
}

.starter:hover> .meals:not(:hover) {
    filter: opacity(.3);
    transition: .3s;
}  
.dish:hover> .meals:not(:hover) {
    filter: brightness(.9);
    transition: .6s;
}  
.dessert:hover> .meals:not(:hover) {
    filter: contrast(.9);
    transition: .9s;
}      
.meals:hover .cross {
    opacity: 1;
    transform: scale(1.2);
   
}

.cross {
    background-color: #99E2D0;
    width: 50px;
    height: 62px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    margin-top: -65px;
    opacity: 0;
}
     
.cross .fa-check-circle {
    color: #fff;
}

.btn-order button {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    cursor: pointer;
    width: 186px;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid transparent; 
    margin-top: 40px;
    margin-bottom: 40px;
}
      
.btn-order button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
      
.btn-order {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 991px) {
    .operation h2 {
        margin-left: 180px;
    }
}
@media screen and (min-width: 991px) {
    .operation-steps {
        display: flex;
        justify-content: space-between;
        margin-right: 207px;
        margin-left: 192px;
    }
}

@media screen and (min-width: 991px) {
    .operation-steps li {
        width: 322px;
        
    }
}

@media screen and (min-width: 991px) {
    .operation-steps li P {
      margin-right: 50px;
    }
}

@media screen and (min-width: 991px) {
    .operation-steps--number {
      margin-right: 35px;
    }
}

@media screen and (min-width: 991px) {
    .operation-steps--icon {
      margin-right: 22.14px;
    }
}

@media screen and (min-width: 991px) {
    .new {
     
    }
}

@media screen and (min-width: 991px) {
    .card {
     
    }
}

@media screen and (min-width: 991px) {
    .main-menu {
      margin-left: 193px;
      margin-right: 192px;
    }
}

@media screen and (min-width: 991px) {
    .cross {
      margin-right: 0;
    }
}

@media screen and (min-width: 991px) {
    .full-menu {
      margin-left: 210px;
      margin-right: 211px;
    }
}

@media screen and (min-width: 991px) {
    .meals {
      margin-left: -211px;
      margin-right: -210px;
    }
}

@media screen and (min-width: 991px) {
    .starter-title, .dish-title, .dessert-title {
      margin-left: -200px;
    }
}

@media screen and (min-width: 991px) {
    footer h3 {
      order: 1;
    }
}
  
@media screen and (min-width: 991px) {
    footer {
      display: flex;
      justify-content: flex-end;
    }
}
  
@media screen and (min-width: 991px) {
    footer ul {
      display: flex;
      gap: 7px;
      margin-top: 64px;
    }
}